<div
  class="container mt-4"
  *ngIf="cartItemList && cartItemList.length > 0; else noItems"
>
  <div class="card">
    <div class="card-header bg-primary text-white">Cart Details</div>
    <div class="card-body">
      <div class="row">
        <div class="col" *ngFor="let item of cartItemList; let i = index">
          <div class="mb-4">
            <h5>Cart Item</h5>
            <p>Product: {{ item.product.name }}</p>
            <p>Price: {{ item.product.price | currency }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <button class="btn btn-danger" (click)="deleteCartItem(item.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary mt-3" (click)="createOrder()">
      Create Order
    </button>
    <p *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</p>
  </div>
</div>

<ng-template #noItems>
  <p>Your cart is empty!</p>
  <!-- <button class="btn btn-primary" (click)="addCartItem()">Add!</button> -->
</ng-template>
