<div class="container mt-4" *ngIf="ordersList && ordersList.length > 0; else noOrders">
  <div class="card">
    <div class="card-header bg-primary text-white">Order Details</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let order of ordersList">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Order {{ order.id }}</h5>
              <div class="product-details">
                <h6>Product Details</h6>
                <div *ngFor="let item of order.order_items">
                  <p>Product: {{ item.product.name }}</p>
                  <p>Category: {{ item.product.categories[0].name }}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                </div>
              </div>
              <div class="payment-details mt-4">
                <h6>Payment Details</h6>
                <p>Payment ID: {{ order.payment_details.id }}</p>
                <p>Amount: {{ order.payment_details.amount }} {{ order.payment_details.currency }}</p>
                <p>Payment Status: {{ order.payment_details.order_is_paid ? 'Paid' : 'Pending' }}</p>
              </div>
              <div class="shipment-details mt-4">
                <h6>Shipment Details</h6>
                <p>Estimated Delivery Date: {{ order.shipment_details.estimated_delivery_date }}</p>
                <p>Is Shipped: {{ order.shipment_details.is_shipped ? 'Yes' : 'No' }}</p>
                <p>Is Delivered: {{ order.shipment_details.is_delivered ? 'Yes' : 'No' }}</p>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-danger mr-2" (click)="deleteOrder(order.id)">Delete Order</button>
              <p *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noOrders>
  <div class="text-center">
    <p class="text-muted">No orders exist</p>
    <!-- <button class="btn btn-primary mt-3" (click)="createOrder()">Create Order</button> -->
    <p *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</p>
  </div>
</ng-template>
