
.product-details {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .payment-details {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .shipment-details {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
  }
  